<div class="page-wrapper">
  <section class="topbar-one topbar-one__inner-page">
      <div class="container">
          <div class="topbar-one__left">
              <div class="topbar-one__social">
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"><i class="fab fa-twitter"></i></a>

              </div><!-- /.topbar-one__social -->
          </div><!-- /.topbar-one__left -->
      </div><!-- /.container -->
  </section><!-- /.topbar-one -->

  <nav class="main-nav-one main-nav-one__inner-page stricky">
    <div class="container">
        <div class="inner-container">
            <div class="logo-box">
                <a href="index.html" class="main-nav-one__logo">
                    <img src="assets/images/light-logo-1-2.png" class="main-nav-one__main-logo" alt="">
                    <img src="assets/images/dark-logo-1-1.png" width="219" class="main-nav-one__mobile-logo"
                        alt="">
                </a>
            </div><!-- /.logo-box -->
            <div class="main-nav__main-navigation">
                <ul class="main-nav__navigation-box">
                    <li class="dropdown">
                        <a href="/">Home</a>

                    </li>
                    <li class="dropdown">
                        <a href="about-us">About Us</a>

                    </li>
                    <li class="dropdown">
                        <a href="services">Services</a>
                        <ul>
                          <li><a href="services">Providing care in Care and Nursing Homes </a></li>
                          <li><a href="services">Domicilary and Live in care </a></li>

                        </ul>
                    </li>

                    <li><a href="contact-us">Contact</a></li>
                </ul><!-- /.main-nav__navigation-box -->
            </div><!-- /.main-nav__main-navigation -->
            <div class="main-nav__right">
                <a href="#" class="side-menu__toggler"><i class="fa fa-bars"></i></a>
                <a href="tel:7405371457" class="main-nav-one__cta">
                    <i class="oberlin-icon-whatsapp"></i>
                    <span>Say Hello </span>
                    <b>074 053 71457</b>
                </a><!-- /.main-nav-one__cta -->
            </div><!-- /.main-nav__right -->
        </div><!-- /.inner-container -->
    </div><!-- /.container -->
  </nav><!-- /.main-nav-one -->
  <section class="page-header" style="background-image: url(assets/page-header-service-2.jpg);">
      <div class="container">
          <h2>Providing care in Care and Nursing Homes </h2>
          <ul class="list-unstyled thm-breadcrumb">
              <li><a href="index.html">Home</a></li>
              <li><span>Service Details</span></li>
          </ul><!-- /.list-unstyled -->
      </div><!-- /.container -->
  </section><!-- /.page-header -->

  <section class="service-details">
      <div class="container">
          <div class="row">
              <div class="col-lg-4">
                  <div class="service-details__sidebar">
                      <div class="sidebar__single sidebar__category">
                          <h3 class="sidebar__title">Category</h3><!-- /.sidebar__title -->
                          <ul class="sidebar__cat-list">
                              <li class="active"><a href="service-physical.html">Providing care in Care and Nursing Homes </a></li>
                              <li><a href="service-health.html">Domicilary and Live in care </a></li>

                          </ul><!-- /.sidebar__cat-list -->
                      </div><!-- /.sidebar__single -->

                  </div><!-- /.service-details__sidebar -->
              </div><!-- /.col-lg-4 -->
              <div class="col-lg-8">
                  <div class="service-details__main">
                      <div class="service-details__image">
                          <img src="assets/service-d-3-1.jpg" class="img-fluid" alt="">
                      </div><!-- /.service-details__image -->
                      <div class="service-details__content">
                          <h3>Providing care in Care and Nursing Homes </h3>
                          <p>Our main aim is providing the highest quality of care, ensuring a supportive and comfortable environment where dignity, individuality and quality of life are primarily important to the sevice users. The following company principles guide us to fulfil our aims.
                          </p>
                          <p></p>

                          <div class="row">
                              <div class="col-md-6">
                                  <img src="assets/service-d-3-2.jpg" class="img-fluid" alt="">
                              </div><!-- /.col-md-6 -->
                              <div class="col-md-6">
                                  <h4>Living Community</h4>
                                  <p>Excepteur sint occaecat cupidatat non proident sunt in culpa qui officia
                                      deserunt mollit anim est laborum consectetur adipiscing elit sed eiusmod
                                      tempor incididunt ut labore dolore magna aliqua enim ad minim veniam.</p>
                                  <ul class="blog-details__list list-unstyled">

                                      <li>
                                          <i class="fa fa-check-circle"></i>
                                          DIGNITY: Understanding  service user needs and treating them with respect.
                                      </li>
                                      <li>
                                        <br>
                                          <i class="fa fa-check-circle"></i>
                                          PRIVACY: The right of service users  to be valued, undisturbed whenever they wish.

                                      </li>
                                      <li>
                                        <br>
                                          <i class="fa fa-check-circle"></i>
                                          CHOICE: Giving a service user  the opportunity to select from a range of alternative options.
                                      </li>
                                      <li>
                                        <br>
                                        <i class="fa fa-check-circle"></i>
                                        INDEPENDENCE: Allowing a service users  to take calculated risks, to make their own decisions and think and act for themselves.

                                    </li>
                                    <li>
                                      <br>
                                      <i class="fa fa-check-circle"></i>
                                      RIGHTS: Keeping all basic human rights available to service users.
                                  </li>
                                  <li>
                                    <br>
                                    <i class="fa fa-check-circle"></i>
                                    FULFILMENT: Enabling the service users  to realise their own aims and helping them to achieve these goals in all aspects of daily  living

                                </li>
                                  </ul><!-- /.blog-details__list list-unstyled -->
                              </div><!-- /.col-md-6 -->
                          </div><!-- /.row -->
                          <h4>Two Most-Cited Reasons for These Increases</h4>
                          <p>We aim to provide a high standard of care and support to every service user. Our organisation provides a welcoming, safe, nurturing, environment where service users are able to develop and grow at their own pace to maximise their potential emotionally, physically, intellectually, socially and spiritually.
                            We pride in offering consistent, unconditional care, which enables our service users to live in an environment that encourages positive relationships, mutual respect, trust, and consideration for others.

                            We use person centred and strength based approaches by taking time to understand each individual service user, at all times maintaining their dignity and self-respect.</p>
                      </div><!-- /.service-details__content -->
                  </div><!-- /.service-details__main -->
              </div><!-- /.col-lg-8 -->
          </div><!-- /.row -->
      </div><!-- /.container -->
  </section><!-- /.service-details -->

  <section class="cta-two">
      <img src="assets/images/shapes/cta-1-1-shape-1.png" class="cta-two__dot-1" alt="">
      <img src="assets/images/shapes/cta-1-1-shape-2.png" class="cta-two__dot-2" alt="">
      <div class="container">
          <div class="row no-gutters">
              <div class="col-lg-6 d-flex justify-content-center align-items-center wow fadeInLeft"
                  data-wow-duration="1500ms">
                  <div class="cta-two__image">
                      <img src="assets/images/resources/cta-1-1.jpg" alt="">
                      <div class="cta-two__image-inner">
                          <div class="cta-two__image-content">
                              <h3><span class="counter">78</span><!-- /.coutner -->%</h3>
                              <p>Success Rate</p>
                          </div><!-- /.cta-two__image-content -->
                      </div><!-- /.cta-two__image-inner -->
                  </div><!-- /.cta-two__image -->
              </div><!-- /.col-lg-6 -->
              <div class="col-lg-6">
                  <div class="cta-two__content">
                      <h3>Book an <br> Appointment Today!</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                          incididunt labore dolore magna aliqua enim ad minim veniam. </p>
                      <a href="#" class="thm-btn cta-two__btn">Get Appointment</a><!-- /.thm-btn cta-two__btn -->
                  </div><!-- /.cta-two__content -->
              </div><!-- /.col-lg-6 -->
          </div><!-- /.row no-gutters -->
      </div><!-- /.container -->
  </section><!-- /.cta-two -->




</div><!-- /.page-wrapper -->

<a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>

<div class="side-menu__block">

  <a href="#" class="side-menu__toggler side-menu__close-btn"><i class="fa fa-times"></i>
      <!-- /.fa fa-close --></a>

  <div class="side-menu__block-overlay custom-cursor__overlay">
      <div class="cursor"></div>
      <div class="cursor-follower"></div>
  </div><!-- /.side-menu__block-overlay -->
  <div class="side-menu__block-inner ">

      <a href="index.html" class="side-menu__logo"><img src="assets/images/light-logo-1-1.png" alt=""
              width="190"></a>
      <nav class="mobile-nav__container">
          <!-- content is loading via js -->
      </nav>
      <p class="side-menu__block__copy">(c) 2021 <a href="#">Oberlin</a> - All rights reserved.</p>
      <div class="side-menu__social">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-google-plus"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-pinterest-p"></i></a>
      </div>
  </div><!-- /.side-menu__block-inner -->
</div><!-- /.side-menu__block -->

